// colors
$dark-text-color: #000000;
$light-text-color: #ffffff;
$header-title-color: #fefefe;
$dark-theme: #333333;
$input-placeholder: #838181;
$input-border: #909090;
$not-filled-circle: #9c9a9a;
$section-border: #cccccc;
$label-hint-color: #888888;

// fonts
$logo-font: "Tahoma", "Arial", sans-serif;
$primary-font: "Open Sans", "Arial", sans-serif;
$placeholder-font: "Segoe UI", "Arial", sans-serif;
